certifi==2021.10.8
cffi @ file:///C:/ci_310/cffi_1642682485096/work
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
docopt==0.6.2
filelock==3.6.0
Flask==2.1.1
Flask-Cors==3.0.10
Flask-SQLAlchemy==2.5.1
future @ file:///C:/ci/future_1607568713721/work
greenlet==1.1.2
gunicorn==20.1.0
huggingface-hub==0.4.0
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
joblib==1.1.0
MarkupSafe==2.1.1
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184308/work
mkl-service==2.4.0
numpy @ file:///C:/ci_310/numpy_and_numpy_base_1643798589088/work
packaging==21.3
pipreqs==0.4.11
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyparsing==3.0.7
PyYAML==6.0
regex==2022.3.15
requests==2.27.1
sacremoses==0.0.49
six @ file:///tmp/build/80754af9/six_1644875935023/work
SQLAlchemy==1.4.34
tokenizers==0.11.6
torch==1.10.2
tqdm==4.63.1
transformers==4.17.0
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
urllib3==1.26.9
Werkzeug==2.1.1
wincertstore==0.2
yarg==0.1.9
zipp==3.7.0
